@{
    #region base URL bilgisi set ediliyor
    var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
    string baseUrl = urlHelper.Content("~");
    #endregion

    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}

<!--Charts js  -->
<script src="@(baseUrl)scripts/highcharts.js"></script>
<script src="@(baseUrl)scripts/data.js"></script>
<script src="@(baseUrl)scripts/exporting.js"></script>
<script src="@(baseUrl)scripts/export-data.js"></script>
<script src="@(baseUrl)scripts/highcharts-3d.js"></script>

<!--Charts js  -->
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" style="border-right: solid 1px #ebedf2;">
                <div class="select2-container--default" role="group" aria-label="Default select2 group">
                    <select class="form-control m-select2" id="AylikSatisComboStartDateId" style="width: 120px">
                        <option @(ViewBag.StartMonth == "01" ? "selected" : "") value="01">Ocak</option>
                        <option @(ViewBag.StartMonth == "02" ? "selected" : "") value="02">Şubat</option>
                        <option @(ViewBag.StartMonth == "03" ? "selected" : "") value="03">Mart</option>
                        <option @(ViewBag.StartMonth == "04" ? "selected" : "") value="04">Nisan</option>
                        <option @(ViewBag.StartMonth == "05" ? "selected" : "") value="05">Mayıs</option>
                        <option @(ViewBag.StartMonth == "06" ? "selected" : "") value="06">Haziran</option>
                        <option @(ViewBag.StartMonth == "07" ? "selected" : "") value="07">Temmuz</option>
                        <option @(ViewBag.StartMonth == "08" ? "selected" : "") value="08">Ağustos</option>
                        <option @(ViewBag.StartMonth == "09" ? "selected" : "") value="09">Eylül</option>
                        <option @(ViewBag.StartMonth == "10" ? "selected" : "") value="10">Ekim</option>
                        <option @(ViewBag.StartMonth == "11" ? "selected" : "") value="11">Kasım</option>
                        <option @(ViewBag.StartMonth == "12" ? "selected" : "") value="12">Aralık</option>
                    </select>

                    <select class="form-control m-select2" id="AylikSatisComboEndDateId" style="width: 120px">
                        <option @(ViewBag.EndMonth == "01" ? "selected" : "") value="01">Ocak</option>
                        <option @(ViewBag.EndMonth == "02" ? "selected" : "") value="02">Şubat</option>
                        <option @(ViewBag.EndMonth == "03" ? "selected" : "") value="03">Mart</option>
                        <option @(ViewBag.EndMonth == "04" ? "selected" : "") value="04">Nisan</option>
                        <option @(ViewBag.EndMonth == "05" ? "selected" : "") value="05">Mayıs</option>
                        <option @(ViewBag.EndMonth == "06" ? "selected" : "") value="06">Haziran</option>
                        <option @(ViewBag.EndMonth == "07" ? "selected" : "") value="07">Temmuz</option>
                        <option @(ViewBag.EndMonth == "08" ? "selected" : "") value="08">Ağustos</option>
                        <option @(ViewBag.EndMonth == "09" ? "selected" : "") value="09">Eylül</option>
                        <option @(ViewBag.EndMonth == "10" ? "selected" : "") value="10">Ekim</option>
                        <option @(ViewBag.EndMonth == "11" ? "selected" : "") value="11">Kasım</option>
                        <option @(ViewBag.EndMonth == "12" ? "selected" : "") value="12">Aralık</option>
                    </select>
                </div>
                @*<div id="SaatlikOyOraniId" style="min-width: 310px; height: 400px; margin: 0 auto;width:100%;"></div>*@
                <div id="AylikSatisChartsID" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="select2-container--default" role="group" aria-label="Default select2 group">
                    <select class="form-control m-select2" id="SubstationDayTableIDComboStartDateId" style="width: 120px">
                        <option @(ViewBag.StartMonth == "01" ? "selected" : "") value="01">Ocak</option>
                        <option @(ViewBag.StartMonth == "02" ? "selected" : "") value="02">Şubat</option>
                        <option @(ViewBag.StartMonth == "03" ? "selected" : "") value="03">Mart</option>
                        <option @(ViewBag.StartMonth == "04" ? "selected" : "") value="04">Nisan</option>
                        <option @(ViewBag.StartMonth == "05" ? "selected" : "") value="05">Mayıs</option>
                        <option @(ViewBag.StartMonth == "06" ? "selected" : "") value="06">Haziran</option>
                        <option @(ViewBag.StartMonth == "07" ? "selected" : "") value="07">Temmuz</option>
                        <option @(ViewBag.StartMonth == "08" ? "selected" : "") value="08">Ağustos</option>
                        <option @(ViewBag.StartMonth == "09" ? "selected" : "") value="09">Eylül</option>
                        <option @(ViewBag.StartMonth == "10" ? "selected" : "") value="10">Ekim</option>
                        <option @(ViewBag.StartMonth == "11" ? "selected" : "") value="11">Kasım</option>
                        <option @(ViewBag.StartMonth == "12" ? "selected" : "") value="12">Aralık</option>
                    </select>

                    <select class="form-control m-select2" id="SubstationDayTableIDComboEndDateId" style="width: 120px">
                        <option @(ViewBag.EndMonth == "01" ? "selected" : "") value="01">Ocak</option>
                        <option @(ViewBag.EndMonth == "02" ? "selected" : "") value="02">Şubat</option>
                        <option @(ViewBag.EndMonth == "03" ? "selected" : "") value="03">Mart</option>
                        <option @(ViewBag.EndMonth == "04" ? "selected" : "") value="04">Nisan</option>
                        <option @(ViewBag.EndMonth == "05" ? "selected" : "") value="05">Mayıs</option>
                        <option @(ViewBag.EndMonth == "06" ? "selected" : "") value="06">Haziran</option>
                        <option @(ViewBag.EndMonth == "07" ? "selected" : "") value="07">Temmuz</option>
                        <option @(ViewBag.EndMonth == "08" ? "selected" : "") value="08">Ağustos</option>
                        <option @(ViewBag.EndMonth == "09" ? "selected" : "") value="09">Eylül</option>
                        <option @(ViewBag.EndMonth == "10" ? "selected" : "") value="10">Ekim</option>
                        <option @(ViewBag.EndMonth == "11" ? "selected" : "") value="11">Kasım</option>
                        <option @(ViewBag.EndMonth == "12" ? "selected" : "") value="12">Aralık</option>
                    </select>
                </div>
                <div id="SubstationDayTableID" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>