@model SefimV2.ViewModels.User.UserViewModel

@{
    #region base URL bilgisi set ediliyor
    var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
    string baseUrl = urlHelper.Content("~");
    #endregion

    #region View tanımları
    ViewBag.Title = "";
    string PagecontentClass = "";
    string CloseButton = "";
    string CloseButtonHeader = "";
    string CancelButton = "";
    string Controller = ViewBag.Controller;
    Dictionary<string, string> PageNavi = ViewBag.PageNavi;

    if (ViewBag.Page == "modal")
    {
        Layout = "~/Views/Shared/_Layout_Modal.cshtml";
        PagecontentClass = "modal-page-margintop";
        CloseButton = "<button type='button' data-dismiss='modal' class='btn btn-danger' id='CloseModal'> Vazgeç </button>";
        CloseButtonHeader = "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'></button>";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage.cshtml";
        PagecontentClass = "page-content";
        CancelButton = "<a href='" + Url.Action("Index", "UsersList/List") + "' class='btn btn-danger'> Vazgeç </a>";
        <link href="/Assets/css/bootstrap.css" rel="stylesheet" />
        <link href="/Assets/css/custom.css" rel="stylesheet" />
        <link href="/Assets/plugins/fUpload/Uploader-style.css" rel="stylesheet" />
    }
    #endregion
}
<link href="~/Content/ContentSefPanel/css/costomfieldset/customfielset.css" rel="stylesheet" />

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div id="notification"></div>
        </div>
    </div>
    <div class="row" style="margin:10px">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <fieldset class="well  the-fieldset ">
                    <legend class="the-legend">@ViewBag.PageTitle @ViewBag.ActionTitle </legend>

                    @using (Ajax.BeginForm("Ekle", "UsersList", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccess", OnBegin = "OnBegin", OnComplete = "OnComplete" }, htmlAttributes: new { @class = "m-form", @id = "UsersListEkle" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID)
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Kullanıcı Adı<span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @id = "KullaniciAdi", @maxlength = "255", @class = "form-control", @placeholder = "Kullanıcı Adı" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Adı<span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @id = "Adi", @maxlength = "255", @class = "form-control", @placeholder = "Adı" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Şifre <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @id = "Password", @maxlength = "255", @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Telefon <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">

                            @Html.TextBoxFor(m => m.Gsm, htmlAttributes: new { @id = "KullaniciTelefon", @maxlength = "255", @class = "form-control", @placeholder = "Telefon" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">E-Mail <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.TextBoxFor(m => m.EMail, htmlAttributes: new { @id = "KullaniciEmail", @maxlength = "255", @class = "form-control", @placeholder = "E-Mail" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Yetki Seç <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.DropDownListFor(m => m.YetkiNesneId, new List<SelectListItem>(), new { @id = "YetkiNesneId", @class = "form-control m-select2" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Aktif Şube <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.DropDownListFor(m => m.SubeID, new List<SelectListItem>(), new { @id = "SubeId", @class = "form-control m-select2" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Uygulama Seç <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            @Html.EnumDropDownListFor(m => m.UygulamaTipi, "Seçiniz", new { @id = "SubeId", @class = "form-control m-select2" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12"> Belge Tipi Yetkisi <span class="required"> * </span></label>
                        <div class="col-lg-9 col-md-12 col-sm-12">

                            <select name="BelgeTipiYetkiler" class="form-control m-select2" id="BelgeTipiYetkiId" multiple="multiple" asp-items="ViewBag.BelgeTipiYetkiler">
                                @if (ViewBag.BelgeTipiYetkiler != null)
                                {
                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Talep Belgesi") > -1)
                                    {
                                        <option value="135" selected>Talep Belgesi</option>
                                    }
                                    else
                                    {
                                        <option value="135">Talep Belgesi</option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Zayi Giriş Belgesi") > -1)
                                    {
                                        <option value="94" selected>Zayi Giriş Belgesi </option>
                                    }
                                    else
                                    {
                                        <option value="94">Zayi Giriş Belgesi </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Alış Faturası") > -1)
                                    {
                                        <option value="20" selected>Alış Faturası </option>
                                    }
                                    else
                                    {
                                        <option value="20">Alış Faturası </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Gider Faturası") > -1)
                                    {
                                        <option value="165" selected>Gider Faturası </option>
                                    }
                                    else
                                    {
                                        <option value="165">Gider Faturası </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("İade Faturası") > -1)
                                    {
                                        <option value="23" selected>İade Faturası </option>
                                    }
                                    else
                                    {
                                        <option value="23">İade Faturası </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Alış İrsaliyesi") > -1)
                                    {
                                        <option value="26" selected>Alış İrsaliyesi </option>
                                    }
                                    else
                                    {
                                        <option value="26">Alış İrsaliyesi </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("İade İrsaliyesi") > -1)
                                    {
                                        <option value="29" selected>İade İrsaliyesi </option>
                                    }
                                    else
                                    {
                                        <option value="29">İade İrsaliyesi </option>
                                    }


                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Sayım Giriş Belgesi") > -1)
                                    {
                                        <option value="93" selected>Sayım Giriş Belgesi</option>
                                    }
                                    else
                                    {
                                        <option value="93">Sayım Giriş Belgesi</option>
                                    }

                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Depo Transfer") > -1)
                                    {
                                        <option value="128" selected>Depo Transfer</option>
                                    }
                                    else
                                    {
                                        <option value="128">Depo Transfer</option>
                                    }

                                    if (ViewBag.BelgeTipiYetkiler.IndexOf("Depo Transfer Kabul") > -1)
                                    {
                                        <option value="129" selected>Depo Transfer Kabul</option>
                                    }
                                    else
                                    {
                                        <option value="129">Depo Transfer Kabul</option>
                                    }

                                }
                                else
                                {
                                    <option value="135">Talep Belgesi</option>
                                    <option value="94">Zayi Giriş Belgesi </option>
                                    <option value="20">Alış Faturası </option>
                                    <option value="165">Gider Faturası </option>
                                    <option value="23">İade Faturası </option>
                                    <option value="26">Alış İrsaliyesi </option>
                                    <option value="29">İade İrsaliyesi </option>
                                    <option value="93">Sayım Giriş Belgesi</option>
                                    <option value="128">Depo Transfer </option>
                                    <option value="129">Depo Transfer Kabul </option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12">Şube Yetkisi </label>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <div class="m-checkbox-inline">
                                @{
                                    if (Model.FR_SubeListesi != null)
                                    {
                                        foreach (var item in Model.FR_SubeListesi)
                                        {
                                            <div class="col-lg-2">
                                                <label class="m-checkbox " style="margin-right:5px">
                                                    <input type="checkbox" name="Auth" id="auth_@item.SubeID" value="@item.SubeID">
                                                    @item.SubeName
                                                </label>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="m-form__group form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12"> Şube Sırası <span class="required">  </span> </label>
                        <div class="col-4">
                            <span class="m-switch m-switch--icon m-switch--accent">
                                <label>
                                    @Html.CheckBoxFor(m => m.SubeSirasiGorunsunMu, htmlAttributes: new { @checked = "checked" })
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="m-form__group form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 col-xs-12"> Durumu <span class="required"> * </span> </label>
                        <div class="col-4">
                            <span class="m-switch m-switch--icon m-switch--accent">
                                <label>
                                    @Html.CheckBoxFor(m => m.Status, htmlAttributes: new { @checked = "checked" })
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                @Html.Raw(CancelButton)
                                @Html.Raw(CloseButton)
                                <button type="submit" class="btn btn-success">Kaydet </button>
                            </div>
                        </div>
                    }
                    <!--end::Form-->
                </fieldset>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

@*<script src="/Assets/js/jquery.js"></script>
    <script src="/Assets/js/bootstrap.js"></script>*@

<script>
    function OnBegin() {
            //mApp.blockPage();
        }
    function OnSuccess(result) {
        var resultObj = JSON.parse(JSON.stringify(result));

        if (resultObj.IsSuccess == true) {
            SuccessAlert(resultObj.UserMessage);
            setTimeout(function () { parent.location = "@Url.Action("List", "UsersList")"; }, 1000);
        } else {
            DangerAlert(resultObj.UserMessage);
        }
    }

    function OnComplete() {
        window.setTimeout(function () {
        //    mApp.unblockPage();
        }, 100);
    }

      //if (ViewBag.BelgeTipiYetkiler!=null)
      //{

      //    foreach (var item in ViewBag.BelgeTipiYetkiler)
      //    {
      //        $('#BelgeTipiYetkiId > option').prop("selected", item);
      //        $("#BelgeTipiYetkiId").trigger("change");
      //    }
      //}

    $(function () {
        //select2 eklentimizin tanımı
        $('#BelgeTipiYetkiId').select2();
        //hepsiniSec kodlarımız
        $("#hepsiniSec").on("click", function () {
            if ($(this).is(':checked')) {
                $("#BelgeTipiYetkiId > option").prop("selected", "selected");
                $("#BelgeTipiYetkiId").trigger("change");
            } else {
                $("#BelgeTipiYetkiId > option").removeAttr("selected").val(0);
                $("#BelgeTipiYetkiId").trigger("change");
            }
        });
    });
</script>

<script>

    $(document).ready(function () {
        $("#AllCheckAuth").click(function () {
            var checked_status = this.checked;
            $("input[name='Auth']").each(function () {
                $("input:checkbox[name=Auth]").prop("checked", checked_status);
            });
        });
    });

    function SubelerList() {
     $.ajax({
        url: '/UsersList/SubelerListJson',
        type: 'POST',
        beforeSend: function (request) {
            //mApp.blockPage();
        },
        complete: function () {
        window.setTimeout(function () {
                //mApp.unblockPage();
            }, 100);
        },
        dataType: 'json',
        success: function (data) {
            var options = $('#SubeId');
            $('option', options).remove();
            options.append($('<option />').val(0).text("Seçiniz"));
            $.each(data, function () {
            options.append($('<option />').val(this.Value).text(this.Text));
            });
            if(@Model.SubeID > 0){
                $('#SubeId').val('@Model.SubeID').trigger('change');
            } else { $('#SubeId').val('0').trigger('change'); }
        }
    });
}
    SubelerList();

    function SubeYetkiListJson() {
        var data = { ID: @Model.ID }
            $.ajax({
                url: '/UsersList/SubeYetkiListJson',
                type: 'POST',
                data: data,
                beforeSend: function (request) {
                    //mApp.blockPage();
                },
                complete: function () {
                window.setTimeout(function () {
                        //mApp.unblockPage();
                    }, 100);
                },
                dataType: 'json',
                success: function (data) {
                    $("input:checkbox[name=Auth]").prop("checked", false);
                    if (data.YetkiListesi != null) {
                        var array = data.YetkiListesi.substring(0, data.YetkiListesi.length - 1).split(',');
                        $.each(array, function (key, value) {
                            $("#auth_" + value).prop("checked", true);
                        });
                    }
                }
            });
        }
    SubeYetkiListJson();

    function FirmaList() {
        $.ajax({
            url: '/UsersList/FirmaListJson',
            type: 'POST',
            beforeSend: function (request) {
                //mApp.blockPage();
            },
            complete: function () {
                window.setTimeout(function () {
                    //mApp.unblockPage();
                }, 100);
            },
            dataType: 'json',
            success: function (data) {
                var options = $('#SubeID');
                $('option', options).remove();
                options.append($('<option />').val(0).text("Seçiniz"));
                $.each(data, function () {
                    options.append($('<option />').val(this.Value).text(this.Text));
                });

                if (Model.SubeID > 0) {
                    $('#SubeID').val('Model.SubeID').trigger('change');
                } else { $('#SubeID').val('0').trigger('change'); }
            }
        });
    }
    FirmaList();

    function YetkiNesneListJson() {
     $.ajax({
         url: '/UsersList/YetkiNesneListJson',
        type: 'POST',
        beforeSend: function (request) {
            //mApp.blockPage();
        },
        complete: function () {
        window.setTimeout(function () {
                //mApp.unblockPage();
            }, 100);
        },
        dataType: 'json',
        success: function (data) {
            var options = $('#YetkiNesneId');
            $('option', options).remove();
            options.append($('<option />').val(0).text("Seçiniz"));
            $.each(data, function () {
            options.append($('<option />').val(this.Value).text(this.Text));
            });
            if(@Model.YetkiNesneId > 0){
                $('#YetkiNesneId').val('@Model.YetkiNesneId').trigger('change');
            } else { $('#YetkiNesneId').val('0').trigger('change'); }
        }
    });
}
    YetkiNesneListJson();

</script>