@model SefimV2.ViewModels.SPosVeriGonderimi.UrunEditViewModel

@{
    Layout = "~/Views/Shared/_LayoutPageSPos.cshtml";
}
@*<style>
        .field-validation-valid {
            display: none;
        }
    </style>*@
<div id="content" class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div id="notification"></div>
        </div>
        <div id="vekaletValidationErrors" class="validation-summary-errors" style="display:none">
            <ul>
                @if (Model.ErrorList != null && Model.ErrorList.Count > 0)
                {
                    foreach (var errors in Model.ErrorList)
                    {
                        <li>@errors</li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="m-subheader margin-bottom-10">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h2 class="m-subheader__title m-subheader__title--separator" style="text-align:center;margin-top:1px;margin-bottom:1px">@ViewBag.SubeName Şubesi Ürün Listesi</h2>
            </div>
        </div>
    </div>
    <br />

    @using (Html.BeginForm("FiyatGuncelleEdit", "SefimPanelVeriGonderimi", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @*@Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "")*@
        @Html.HiddenFor(Model => Model.SubeId)
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-2">
                    <a id="btnUrunGetir" class='btnUrunGetir btn btn-primary' data-url="@Url.Action("FiyatGuncelleEdit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId})"> Ürün Getir</a>
                </div>
                <div class="araadCreateLabel col-md-1">Ürün Grubu Seç</div>
                <div class="col-md-9">
                    <select name="productGroup" class="form-control m-select2" id="SubeyeGoreUrunGrubuListID" multiple="multiple"> </select>
                </div>
            </div>
            <br /><br />
            <table id="tableFiyatGuncelle" class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr style="background: #fffaf0">
                        <th hideExcel="true">İşlem</th>
                        <th>@Html.DisplayNameFor(m => m.UrunEditList.First().ProductGroup)</th>
                        <th>@Html.DisplayNameFor(m => m.UrunEditList.First().ProductName)</th>
                        <th>@Html.DisplayNameFor(m => m.UrunEditList.First().Price)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.UrunEditList != null && Model.UrunEditList.Count > 0)
                        {
                            for (int i = 0; i < Model.UrunEditList.ToList().OrderBy(x => x.ProductName).Count(); i++)
                            {
                                @Html.HiddenFor(m => Model.UrunEditList[i].Id)
                                @Html.HiddenFor(m => Model.UrunEditList[i].ProductName)
                                @Html.HiddenFor(m => Model.UrunEditList[i].ProductGroup)

                                <tr>
                                    <td hideExcel="true" id="col_Sube_@Model.SubeId">
                                        @* <img class='btnCh2Getir btn btn-success' data-url="@Url.Action("Choice1Edit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})" src="~/img/details_open.jpg" rel=@Model.SubeId alt="expand/collapse">*@
                                        @*<a> <img data-url="@Url.Action("Choice1Edit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})" class='btnCh2Getir btn btn-success' src="~/img/details_open.jpg" rel=@Model.SubeId alt="expand/collapse" /> </a>*@

                                        <a class='btn btn-success modalGoster' data-url="@Url.Action("Choice1Edit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})"> Choice1 Güncelle</a>

                                        @*<span style="float:left !important">
                                                <a data-subeId="@Model.SubeId" data-productId="@Model.UrunEditList[i].Id" class='btnChoice1 btn btn-success' data-url="@Url.Action("Choice1Edit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})"> Choice1 Güncelle</a>
                                                <a href="#" class='btnChoice1 btn btn-success' data-url="@Url.Action("Choice1Edit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})"> Choice2 Güncelle</a>
                                                <a href="#" class='btnOptions btn btn-primary' data-url="@Url.Action("OptionsEdit", "SefimPanelVeriGonderimi", new { subeId = Model.SubeId,  productId = Model.UrunEditList[i].Id})"> Seçenekler Güncelle</a>
                                            </span>*@
                                    </td>
                                    <td> @Model.UrunEditList[i].ProductGroup </td>
                                    <td> @Model.UrunEditList[i].ProductName  </td>
                                    <td> @Html.EditorFor(m => Model.UrunEditList[i].Price, new { htmlAttributes = new { @id = Model.UrunEditList[i].Id, @class = "form-control", data_val = "true", data_val_required = "Ürün Fiyatı boş bırakılamaz" } }) </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="col-md-offset-5 col-md-7">
                <a href="@Url.Action("SubeyeFiyatGonderSubeList","SefimPanelVeriGonderimi")" class="btn btn-danger btn-lg">
                    Vazgeç
                </a>
                <input type="submit" value="Kaydet" class="btn btn-lg btn-success" />
                @* <button type="submit" class="btn btn-success"><i class="flaticon-music-2"></i>   Kaydet  </button>*@
            </div>
        </div>
    }
</div>


<script type="text/javascript">

        $(document).ready(function () {

       //$('#tableFiyatGuncelle').DataTable({
          //  "pageLength": 999,
          //  "bDestroy": true,
       // });

            $('.btnCh2Getir').click(function () {
                debugger;
                var oTable = $('#tableFiyatGuncelle').dataTable();

                var nTr = this.parentNode.parentNode;
                if (this.src.match('details_close')) {
                    /* This row is already open - close it */
                    this.src = "/img/details_open.jpg";
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "/img/details_close.jpg";
                    var subeid = $(this).attr("rel");
                    localStorage.subeid = subeid;
                    var dataurl = $(this).data("url");
                    $.get(dataurl, function (details) { oTable.fnOpen(nTr, details, 'details'); });
                }
            });

        });

    $(".btnChoice1").on("click", function () {
        $('#genericModal').find(".modal-body").html("");
        var dataurl = $(this).data("url");
        callModalPage(dataurl, "Choice1 Bilgileri Listesi");
        //showProgressBar();
        //$("#modalPleaseWait").on('shown.bs.modal', function () {
        //});
    });

    $(".btnOptions").on("click", function () {
        $('#genericModal').find(".modal-body").html("");
        var dataurl = $(this).data("url");
        callModalPage(dataurl, "Seçenek Bilgileri Listesi");

        //var _subeId = $(this).attr("data-subeId");
        //var _productId = $(this).attr("data-productId");
        //location.href = dataurl;
        //showProgressBar();
        //$("#modalPleaseWait").on('shown.bs.modal', function () {
        //});
    });

    $('.btnUrunGetir').click(function () {
        var subeId = $('#@Html.IdFor(m => m.SubeId)').val();
        var urunGrubu = $("#SubeyeGoreUrunGrubuListID").val();
        location.href = 'FiyatGuncelleEdit?subeId=' + subeId + '&productGroup=' + urunGrubu;
        document.getElementById("loading").setAttribute("class", "myloading-active");
        document.getElementById("contbody").setAttribute("style", "position:fixed;");
    });


    $(function () {
        //select2 eklentimizin tanımı
        $('#SubeyeGoreUrunGrubuListID').select2();
        //hepsiniSec kodlarımız
        $("#hepsiniSec").on("click", function () {
            if ($(this).is(':checked')) {
                $("#SubeyeGoreUrunGrubuListID > option").prop("selected", "selected");
                $("#SubeyeGoreUrunGrubuListID").trigger("change");
            } else {
                $("#SubeyeGoreUrunGrubuListID > option").removeAttr("selected").val(0);
                $("#SubeyeGoreUrunGrubuListID").trigger("change");
            }
        });
    });

    jQuery(document).ready(function () {
    @* Ürün grubu list *@
        var subeId = $('#@Html.IdFor(m => m.SubeId)').val();
        function MasaUstuRaporuUrunGrubuList() {
            $.ajax({
                url: '/SefimPanelVeriGonderimi/SubeUrunGrubuListJson',
                data: { "subeId": subeId },
                type: 'POST',
                beforeSend: function (request) {
                    //mApp.blockPage();
                },
                complete: function () {
                    window.setTimeout(function () {
                        //mApp.unblockPage();
                    }, 100);
                },
                dataType: 'json',
                success: function (data) {
                    var options = $('#SubeyeGoreUrunGrubuListID');
                    $('option', options).remove();
                    //options.append($('<option />').val(0).text("Seçiniz"));
                    $.each(data, function () {
                        options.append($('<option />').val(this.Value).text(this.Text));
                    });
                    if ('Model.SubeyeGoreUrunGrubuListID' > 0) {
                        $('#SubeyeGoreUrunGrubuListID').val('Model.SubeyeGoreUrunGrubuListID').trigger('change');
                    } else { $('#SubeyeGoreUrunGrubuListID').val('0').trigger('change'); }
                }
            });
        }
        MasaUstuRaporuUrunGrubuList();
    });

</script>