@model SefimV2.ViewModels.SPosKabulIslemleri.BelgeList
@{
    Layout = "~/Views/Shared/_LayoutPageSPos.cshtml";
}

<link href="/Assets/css/bootstrap.css" rel="stylesheet" />
<link href="/Assets/css/custom.css" rel="stylesheet" />
<link href="/Assets/plugins/fUpload/Uploader-style.css" rel="stylesheet" />

<a class="btn btn-primary  pull-right" href="/SefimPanelBelgeIslemleri/AlisBelgesiCreate?BelgeTip=255" title="Yeni">
    <i class="glyphicon glyphicon-plas"></i>
    Yeni Şablon Oluştur
</a>


<table id="tblCustomers" class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th style="width:100px">İşlemler</th>
            <th style="width:150px">Tarih</th>
            <th style="width:150px">Sablon Adı</th>
        </tr>
    </thead>
    <tbody id="tblCustomersObject">
        @{
            if (@Model != null)
            {
                for (int i = 0; i < @Model.Belgeler.Count(); i++)
                {
                    <tr id="@Model.Belgeler[i].Id">
                        <td>
                            <a class="btn btn-warning" href="/SefimPanelBelgeIslemleri/AlisBelgesiCreate?ID=@Model.Belgeler[i].Id" title="Şubedeki ürün bilgilerini güncelle">
                                Düzenle
                            </a>
                            <a class="btn btn-danger" onclick="lib.sil(@Model.Belgeler[i].Id)" title="Sil">
                                Sil
                            </a>
                        </td>
                        <td class="CustomerId">
                            <span>@Model.Belgeler[i].Tarih.Value.ToString("dd.MM.yyyy")</span>
                        </td>
                        <td class="CustomerId">
                            <span>@Model.Belgeler[i].SablonAdi</span>
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>
<script src="/Assets/js/jquery.js"></script>
<script src="/Assets/plugins/fUpload/jquery.blockUI.js"></script>
<script src="/Assets/js/bootstrap.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#tblCustomers').DataTable({
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: "Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },

                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            },
            dom: 'Bfrtip',
            "pageLength": 80,
            "bDestroy": true,
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ],
            //responsive: true
        });
    });
    var lib = {};
    lib.sil = function (Id) {
        if (confirm("Belgeyi silmek istiyor musunuz?")) {
            $.ajax({
                url: '/SefimPanelBelgeIslemleri/AlisBelgesiDelete',
                type: 'POST',
                data: { BelgeId: Id },
                beforeSend: function (request) {
                    //mApp.blockPage();
                },
                complete: function () {
                    window.setTimeout(function () {
                        //mApp.unblockPage();
                    }, 100);
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            });
            $("#" + Id).remove();
        } else {

        }

    }

</script>
